/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.zip
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
*.mid
*.*O
0
1
2
.calva
.lsp
.clj-kondo
resources/midi/*
[0-9].txt
work/*
scratch.sql
