{:id "S25147366",
 :desc "Sobolev p. 14, A1",
 :tab-score "Cm7 | F7 | Bb7 | Eb7 | Am7-5 | D7 | Gm7 | Gm7"
 :notes  [[:c2]  [:_] [:g2]  [:_]
          [:f2]  [:_] [:a1]  [:_]
          [:bb1] [:_] [:f2]  [:e2]
          [:eb2] [:_] [:bb1] [:_]
          [:a1]  [:_] [:eb2] [:_]
          [:d2]  [:_] [:a2]  [:d2]
          [:g2]  [:_] [:a2]  [:_]
          [:bb2] [:_] [:g2]  [:_]]}
