{:id "S25147366",
 :desc "Sobolev p. 14, A1",
 :tab-score "Cm7 | F7 | Bb7 | Eb7 | Am7-5 | D7 | Gm7 | Gm7"
 :notes  [[:c3]  [:_] [:g3]  [:_]
          [:f3]  [:_] [:a2]  [:_]
          [:bb2] [:_] [:f3]  [:e3]
          [:eb3] [:_] [:bb2] [:_]
          [:a2]  [:_] [:eb3] [:_]
          [:d3]  [:_] [:a3]  [:d3]
          [:g3]  [:_] [:a3]  [:_]
          [:bb3] [:_] [:g3]  [:_]]}
