{:id "SMEDBLUES"
 :desc "Medium blues, Sobolev p. 14"
 :tab-score "C | F7 F#dim | C | C7 | F | F#dim | C | Em7-5 A7 | Dm7 | G7 | Em7-5 A7 | Dm G7"
 :notes  [[:c3] [:g2] [:e2] [:c2]
          [:f2] [:e2] [:f2] [:f#2]
          [:g2] [:b2] [:c3] [:b2]
          [:bb2] [:c2] [:d2] [:e2]

          [:f2] [:a1] [:bb1] [:b1]
          [:c2] [:e2] [:f2] [:f#2]
          [:g2] [:e2] [:f2] [:d2]
          [:e2] [:bb2] [:a2] [:c#1]

          [:d2] [:a2] [:f2] [:f#2]
          [:g2] [:d2] [:g2] [:f2]
          [:e2] [:bb1] [:a1] [:c#3]
          [:d3] [:a2] [:b2] [:g2]]}
