{:id 9, :nm "MISTY", :numer 4, :denom 4, :ppq 400000, :bb 8, :bpm 60,
 :drum "drums-swing",
 :bass "bass-15-68",
 :tab-score "
 Ebmaj7      | Bbm7  Eb7 | Abmaj7       | Abm7   Db7
 Ebmaj7  Cm7 | Fm7   Bb7 | Gm7    C7    | Fm7    Bb7
 Ebmaj7      | Bbm7  Eb7 | Abmaj7       | Abm7   Db7
 Ebmaj7  Cm7 | Fm7   Bb7 | Eb6    Db9   | Ebmaj7    
 Bbm7        | Eb7-9     | Abmaj7       | Abmaj7    
 Am7         | D7    F7  | Gm7    C7-9  | Fm7    Bb7
 Ebmaj7      | Bbm7  Eb7 | Abmaj7       | Abm7   Db7
 Ebmaj7 Cm7  | Fm7   Bb7 | Eb6    Cm7   | Fm7    Bb7
"}
